footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #343a40;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;

  ul {
    display: flex;

    li {
      border-radius: 20%;
      border: 2px solid #9a9da0;
      width: 35px;
      height: 35px;
      background-color: #9a9da0;
      margin-left: 5px;
      position: relative;

      &:hover {
        background-color: #ded5d5;
      }

      img {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

body {
  position: relative;
  padding-bottom: 80px;
}

@media screen and(max-width: 424px) {
  footer {
   flex-wrap: wrap;
    flex-direction: column-reverse;
    ul{
      padding: 0;
    }
  }
}